@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-background: #f5f5f6;
    --secondary-background: #ebeaea;
    --primary: #3b3b3b;
    --secondary: #636a6f;
  }

  .dark:root {
    --main-background: #0c0b10;
    --secondary-background: #111113;
    --primary: #f3f4f6;
    --secondary: #868f97;
  }

  html {
    background-color: var(--main-background);
    color: var(--primary);
  }
}
